@use '@angular/material' as mat;

$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$green-palette,
      tertiary: mat.$orange-palette,
    ),
  )
);

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  @include mat.all-component-themes($light-theme);

  .mat-toolbar {
    &.mat-primary {
      background-color: mat.get-theme-color($light-theme, primary, 40);
      color: mat.get-theme-color($light-theme, primary, 100);
    }
  }
}

html, body {
  height: 100%;
  font-family: Roboto, sans-serif;
  background: #f5f5f5;
}

.snack-success .mdc-snackbar__surface {
  background: #2e7d32 !important;
}
